body {
    background-color: whitesmoke;
}




/*
-----------------------
BOOTSTRAP OVERRRIDES
-----------------------
*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.container-fluid .img-responsive {
    margin: auto;
    max-width: 100%;
}

.tab-content .tab-pane .img-responsive {
    margin: 25px auto;
}

